[data-icon]:before {
    font-family: iconfont;
    content: attr(data-icon);
    speak: none;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased
}

.ricerca-testo {
    font-size: 18px;
    margin-top: 10px;
}
.risRicerca strong {
    color: #c52b2d;
    font-weight: bold;
}

.all {
    color: #333 !important;
    background-color: #fff !important;
    border-color:#ccc !important;
    outline-color: #ccc !important;

}
.row h3 {
    line-height: 32px;
}
.row h3:nth-child(3) {
    margin: 80px auto 0 auto;
    display: block;
    text-align: center;
    color: #c52b2d;
    font-family: "main-heavy";
    font-size: 36px;
    text-transform: uppercase;
}

@media only screen and (min-width: 550px) and (max-width: 991px) {
    .col-md-3 {
        width: 30%;
        display: inline-block;
    }
    .col-md-3.form-group {
        width: 66%;
        display: inline-block;
    }
}
@media only screen and (max-width: 549px) {
    .ricerca-testo {
        margin-top: 30px;
    }
}
@media only screen and  (min-width: 801px) {
/*   .filtro {
        min-width: 780px;
    }*/
}
@media only screen and  (min-width: 401px) {
/*   .col-md-6.form-group, .col-md-3.form-group {
        width: 33%;
        display: inline-block;
    }*/
}
@media only screen and  (max-width: 480px) {
    .row h3 {
        font-size: 18px;
        line-height: 24px;
    }
    .row h3:nth-child(3) {
        margin-top: 40px;
        font-size: 26px;
    }
/*   .col-md-6.form-group {
        width: 100%;
    }
   .col-md-3.form-group {
        width: 33%;
        float: left;
    }*/
}

div.mainContent+header {
    border-top: 1px solid #e6e6e6
}
header {
    *zoom: 1;
    min-height: 80px
}
header:after {
    content: "";
    display: table;
    clear: both
}
.shareToolBar {
    float: right;
    padding: 26px 40px 10px 10px
}
.shareToolBar a {
    margin-left: 4px
}
.shareToolBar a:hover {
    color: #00AEFF
}
@media only screen and (min-width: 440px) and (max-width: 650px) {
    .shareToolBar {
        padding-right: 20px
    }
}
@media only screen and (max-width: 439px) {
    .shareToolBar {
        padding: 16px 0;
/*        float: none;*/
        text-align: center
    }
}
.logo {
    width: 320px;
    height: 23px;
    display: block;
    float: left;
    margin-top: 28px;
    margin-left: 40px
}
.logo img {
    width: 100%;
    height: auto
}
@media only screen and (min-width: 440px) and (max-width: 650px) {
    .logo {
        width: 240px;
        margin-left: 20px
    }
}
@media only screen and (max-width: 439px) {
    .logo {
        margin-left: auto;
        margin-right: auto;
        width: 84%;
        float: none;
        text-align: center
    }
}



/* FOOTER */
footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 25px;
    font-family: brera-condensed_semibold
}
footer a {
    color: #fff;
    text-decoration: underline
}
