@import "font-face.css";


/* ------------------------------
COLORS
---------------------------*/
@bianco:#FFF;
@bianco_vero:#FFF;
@orange:#F79941;
@nero: darken(@bianco, 80%);
@dark_blue: #041823;
@light_blue: #9DA5A9;
@blu_corriere: #29ABEF;
@rosso_27: #c52b2d;
@grigio: #ccc;

/* ------------------------------
DEFINITIONS
---------------------------*/



::-moz-selection { /* Code for Firefox */
    color: @bianco_vero;
    background: @dark_blue;
}
::selection {
    color: @bianco_vero;
    background: @rosso_27;
}

html, body {
    overflow-x: hidden;
}

ul{
  -webkit-padding-start: 0px;
}

header{
  background-color: @rosso_27;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0 1em;
    .loghi {
    width: 170px;
    float: left;
    display: block;
    height: 100px;
      .logo{
        width: 150px;
        margin-top: 10px;
        height: auto;
      }
      .ventisettesima{
        width: 170px;
        margin-left: 40px;
      }
     @media (max-width:699px){
        .ventisettesima{
          margin-left: 10px;
      }
     }
     @media (max-width:699px){
        .loghi{
          float: none;
          margin: 0 auto;
      }     
    }
  h1{
    display: block;
    width: 100%;
    span{
      // font-family: "title-regular";
      font-size: 140px;
      color:@bianco_vero;
    }
    color:@bianco_vero;
    font-size: 60px;
    border-bottom: 1px dashed @light_blue;
    margin: 0 0 30px;
  }
  h3{
    color:@bianco_vero;
    padding-bottom: 35px;
  }
  .shareToolBar {
    padding: 0;
    margin: 35px 40px 0 0;
    a{
      color:@bianco_vero;
      font-size: 26px;
      padding: 0  .3em;
      &:hover{
        color:@bianco_vero;
        opacity:0.7;
      }
    }
  @media (max-width:699px){
    .shareToolBar{
        margin: 0 auto 10px auto;
        float: none;
    }
  }
} // header

footer {
  background-color: @rosso_27;
  color: @bianco;
  margin-top: 50px;
  text-align: center;
  padding: 25px;
  font-family: main-condensed_semibold;  
  a {
    color: @bianco;
    text-decoration: underline;
  }
}

.backTop{
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  height: 3em;
  line-height: 2;
  opacity: 0.7;
}
.btn-default {
    text-transform: uppercase;
}

section.copertina{

  background: @rosso_27 url(../img/testata-alpha.svg) center left no-repeat;

  @media screen and (min-width:768px) {
    background-image: url(../img/testata.svg);
  }

  background-size: contain;
  text-align: right;
  min-height: 168px;
  width: 100%;
  margin-top: 2px;
    #bigtext{
        display: block;
        min-height: 168px;
        color:@bianco;
        position: relative;
        text-transform: uppercase;
        h1{
          font-family: "main-heavy";
          margin: 0;
          padding: 0;
          line-height:1;
        }
        h2{
          font-family: "main-condensed_light";
          margin: 0;
          padding: 0;
          line-height:1;
        }
    }
    img{
        width: 100%;
    }
}

      span.author {
        font-size: 18px;
        text-align: right;
        width: 100%;
        display: inline-block;
      }

      .container.apre {
        margin-top: 20px;
      }


section.scroll{

  section.lista{

    .donna{
        cursor: pointer;
/*        overflow: hidden;*/

        &-image{
          transition: 0.5s opacity ease;

          // max-height: 100px;
          display: table;
          background:#fff;
          overflow: hidden;
          margin-bottom: 20px;
          transform: translateX(-50%);
          left: 50%;
          position: relative;
          img{
            width: 100px;
            height: 100px;
          }
        }
        &-text {
            display: none;
            opacity: 0;
            position: absolute;
            background: @nero;
        }
        &-titolo {
            font-family: "main-condensed_heavy", serif;
            font-weight: bold;
            font-size: 16px;
            margin-top: 10px;
        }
        &-link {
            font-family: "main-regular", serif;
            font-weight: normal;
            /*font-style: italic;*/
            font-size: 14px;
            display: block;
            width: 100%;

        }
        &.tool_tip{
            .donna-image img{
                box-shadow: 0px 0px 4px @rosso_27;
            }
            .donna-text {
              display: block;
              opacity: 1;
              position: absolute;
              text-align:center;
              top: 70%;
              width:100%;
              left:50%;
              transform:translateX(-50%);
              z-index: 10;
              background: #ffffff;
              border: 1px dotted #999;

                p {
                    padding-bottom: 10px;
                    }
                .donna-text_image{
                    img{
                        width: 25px;
                    }
                    float:left;
                    margin: 10px;

                }
            }
        }

    }
  }
  section.description{
    margin-top: 2em;
    .messages {
      p {
        font-family: "main-condensed_light", serif;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
      }
    }
    .contatore{
        font-size: 16px;
        margin-bottom: 10px;
            & > *{
                display: inline-block;
                margin: 0 5px;
            }
            .prev, .next{
                cursor:pointer;
            }
            p{
                padding-bottom: 0;
              strong {
                font-weight: normal;
              }
            }
        }
    .descrizione{
        display: none;
        &.active{
            display: block;
        }
        &-image{
            float:left;
            margin-right: 15px;
            img {
              max-width: 200px;
            }
        }
        &-text{
          font-family: "main-condensed_regular";
          font-size: 18px;
        }
        &-titolo{
          font-family: "main-condensed_semibold";
          font-size: 28px;
        }
        &-testo{
          padding: 25px 0 0 0;
          //clear: both;
          //margin-left: 130px;
        }
        &-altro-elem{
          font-size: 16px;
        }
        .descrizione-altro{
          padding-top: 5px;
        }
        .data-nascita{

        }
        .data-morte{

        }
    }
  }


    section.evento{
      .clearfix;
      @media (min-width:768px){

        max-width: 740px;
        margin: 1em auto 4em auto;
        ul{
          width: 420px;
          float:left;
        }

        .desc{
          position: relative;
          float:right;
          width: 100%;
          max-width: 300px;
          background: transparent;
          transform:none;
          box-shadow: none;
          z-index:0;
          padding: 0;
          &:after{
            display: none;
          }
          &.inview{
            bottom:auto;
          }
          h2{
            font-weight: normal;
            font-family: "main-bold", sans-serif;
            span.data{
              font-family: "main-light", sans-serif;
              display: block;
              font-weight: normal;
            }
            span.titolo_evento{
              margin-top: 1em;
            display: block;
            }
            padding-left: 0;
          }

        }
      }


    }

  }

span.deceduta, span.incarica {
  display: none;
}

li{
  list-style: none;
  display: inline;
  position: relative;


  // &:nth-child(3n+0) {
  //   i{
  //     animation: ondeggiamento 5s infinite linear;
  //   }
  // }



  i{
    //animation: ondeggiamento_small 15s infinite linear;
    font-style: normal;
    font-family: "omini";
    font-size: 36px;
    display: inline-block;
    width: 36px;
    text-align: center;
    color:fade(@nero,100%);
    z-index:9;
    &:hover{
      color:darken(@nero, 10%);
    }
  }

  &:nth-child(2n+0) {
    i{
      //animation: ondeggiamento_reverse 15s infinite linear;
    }
  }

  .details{
    display: none;
    font-family:"main-condensed_regular", sans-serif;
    position: absolute;
    max-width: 480px;
    box-shadow: 0 0 5px @nero;
    background:@bianco;
    z-index:999;
    padding: 0.5em 1em;
    text-align:left;
    img{
      float:left;
      margin: 0 1em 1em 0;
      width: 5em;
    }
    strong{
      font-family: "main-condensed_bold";
    }
  }
}
.credit{
  padding-left: 15px;
  padding-right: 15px;
  p{
    font-size: 1.3em;
    strong,
    a{
      color:@nero;
    }
    img.unhcr {
      width: 100px;
      padding-top: 10px;
    }
  }
}

#top div.navWrapper img.unhcr-testata {
  display: block;
    height: 70px;
    margin-left: 400px;
    padding-top: 10px;
    position: absolute;
    width: 59px;
}

.share{
  position: relative;
  max-width: 990px;
  margin: 15px auto;
  border-top: 1px dashed fade(@nero, 50%);
  padding: 15px;
  display: block;
  font-size: 18px;

  h2{ margin-bottom: 10px;}
  .desc{
    font-family: "main-condensed_regular", sans-serif;
    font-size: 18px;
    .clearfix;
    strong{
      font-family: "main-condensed_bold";
    }

    img{
      float:left;
      margin: 0 1em 1em 0;
      width: 5em;
    }
  }
  .condivisioni{
      font-family: "main-condensed_regular", sans-serif;
      font-size: 18px;
      text-transform: uppercase;
    a{
      display: inline;
      text-decoration: underline;
      &.facebook{

      }
      &.twitter{
        margin-left: 1em;
      }
    }
  }

}

//per visualizzare gli omini con le lettere di riferimento
// ## da togliere in produzione ##
//
table.conversion{
  display: none;

  td{
    border:1px dashed #999;
    &:nth-child(odd){
      font-family: "omini";
      font-size: 48px;
    }
  }
  &.upper{
    text-transform: uppercase;
  }
}

.perMobile{ display: none; text-align: right; margin-top: 15px; }
@media (max-width: 768px) {
  .unhcr-testata{ display: none!important; }
  .perMobile{ display: block; }
  h2.contaMorti #bigtext-id2{ margin-top: 0.8em!important; }
}

/*Clearfix for clearing floats like a boss*/
.clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    // Fixes Opera/contenteditable bug:
    // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}


.css-gradient(@from: #20416A, @to: #3D69A5) {
  background-color: @to;
  background-image: -webkit-gradient(linear, left top, left bottom, from(@from), to(@to));
  background-image: -webkit-linear-gradient(top, @from, @to);
  background-image: -moz-linear-gradient(top, @from, @to);
  background-image: -o-linear-gradient(top, @from, @to);
  background-image: -ms-linear-gradient(top, @from, @to);
  background-image: linear-gradient(top, @from, @to);
}

.css-gradient(darken,@amount: 10%, @from: #20416A, @to: #3D69A5){
  .css-gradient(darken(@from,@amount),darken(@to,@amount));
}

.loader{
    position: fixed;
    background-color: lighten(@rosso_27, 10%);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5000;
}
.loader img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

@media screen and (min-width: 600px) {

}

@keyframes ondeggiamento {
  0%   { transform:translateY(0px);  }
  33%  { transform:translateY(-2px); }
  66%  { transform:translateY(4px); }
  100% { transform:translateY(0px);  }
}

@keyframes ondeggiamento_reverse {
  0%   { transform:translateY(0px);  }
  33%  { transform:translateY(2px); }
  66%  { transform:translateY(-4px); }
  100% { transform:translateY(0px);  }
}

@keyframes ondeggiamento_small {
  0%   { transform:translateY(0px);  }
  33%  { transform:translateY(-3px); }
  66%  { transform:translateY(3px); }
  100% { transform:translateY(0px);  }
}
