@import "font-face.css";
/* ------------------------------
COLORS
---------------------------*/
/* ------------------------------
DEFINITIONS
---------------------------*/
::-moz-selection {
  /* Code for Firefox */
  color: #FFF;
  background: #041823;
}
::selection {
  color: #FFF;
  background: #c52b2d;
}
html,
body {
  overflow-x: hidden;
}
ul {
  -webkit-padding-start: 0px;
}
header {
  background-color: #c52b2d;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0 1em;
}
header .loghi {
  width: 170px;
  float: left;
  display: block;
  height: 100px;
}
@media (max-width: 699px) {
  header .loghi  {
    margin: 0 auto;
    float: none;
  }
}
header .loghi .logo {
  width: 150px;
  margin-top: 10px;
  height: auto;
}
header .loghi .ventisettesima {
  width: 170px;
  margin-left: 40px;
}
@media (max-width: 699px) {
  header .loghi .ventisettesima {
    margin-left: 10px;
  }
}
header h1 {
  display: block;
  width: 100%;
  color: #FFF;
  font-size: 60px;
  border-bottom: 1px dashed #9DA5A9;
  margin: 0 0 30px;
}
header h1 span {
  font-size: 140px;
  color: #FFF;
}
header h3 {
  color: #FFF;
  padding-bottom: 35px;
}
header .shareToolBar {
  padding: 0;
  margin: 35px 40px 0 0;
}
@media (max-width: 699px) {
  header .shareToolBar {
    margin: 0 auto 10px auto;
    float: none;
  }
}
header .shareToolBar a {
  color: #FFF;
  font-size: 26px;
  padding: 0  .3em;
}
header .shareToolBar a:hover {
  color: #FFF;
  opacity: 0.7;
}
footer {
  background-color: #c52b2d;
  color: #FFF;
  margin-top: 50px;
  text-align: center;
  padding: 25px;
  font-family: main-condensed_semibold;
}
footer a {
  color: #FFF;
  text-decoration: underline;
}
.backTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  height: 3em;
  line-height: 2;
  opacity: 0.7;
}
.btn-default {
    text-transform: uppercase;
}
section.copertina {
  background: #c52b2d url(../img/testata-alpha.svg) center left no-repeat;
  background-size: contain;
  text-align: right;
  min-height: 168px;
  width: 100%;
  margin-top: 2px;
}
@media screen and (min-width: 768px) {
  section.copertina {
    background-image: url(../img/testata.svg);
  }
}
section.copertina #bigtext {
  display: block;
  min-height: 168px;
  color: #FFF;
  position: relative;
  text-transform: uppercase;
}
section.copertina #bigtext h1 {
  font-family: "main-heavy";
  margin: 0;
  padding: 0;
  line-height: 1;
}
section.copertina #bigtext h2 {
  font-family: "main-condensed_light";
  margin: 0;
  padding: 0;
  line-height: 1;
}
section.copertina img {
  width: 100%;
}
span.author {
  font-size: 18px;
  text-align: right;
  width: 100%;
  display: inline-block;
}
.container.apre {
  margin-top: 20px;
}
section.scroll section.lista .donna {
  cursor: pointer;
/*  overflow: hidden;*/
}
section.scroll section.lista .donna-image {
  transition: 0.5s opacity ease;
  display: table;
  background: #fff;
  overflow: hidden;
  margin-bottom: 20px;
  transform: translateX(-50%);
  left: 50%;
  position: relative;
}
section.scroll section.lista .donna-image img {
  width: 100px;
  height: 100px;
}
section.scroll section.lista .donna-text {
  display: none;
  opacity: 0;
  position: absolute;
  background: #333333;
}
section.scroll section.lista .donna-titolo {
  font-family: "main-condensed_heavy", serif;
  font-weight: bold;
  font-size: 16px;
  margin-top: 10px;
}
section.scroll section.lista .donna-link {
  font-family: "main-regular", serif;
  font-weight: normal;
  /*font-style: italic;*/
  font-size: 14px;
  display: block;
  width: 100%;
}
section.scroll section.lista .donna.tool_tip .donna-image img {
  box-shadow: 0px 0px 4px #c52b2d;
}
section.scroll section.lista .donna.tool_tip .donna-text {
  display: block;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 70%;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  background: #ffffff;
  border: 1px dotted #999;
}
section.scroll section.lista .donna.tool_tip .donna-text p {
  padding-bottom: 10px;
}
section.scroll section.lista .donna.tool_tip .donna-text .donna-text_image {
  float: left;
  margin: 10px;
}
section.scroll section.lista .donna.tool_tip .donna-text .donna-text_image img {
  width: 25px;
}
section.scroll section.description {
  margin-top: 2em;
}
section.scroll section.description .messages p {
  font-family: "main-condensed_light", serif;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
section.scroll section.description .contatore {
  font-size: 16px;
  margin-bottom: 10px;
}
section.scroll section.description .contatore > * {
  display: inline-block;
  margin: 0 5px;
}
section.scroll section.description .contatore .prev,
section.scroll section.description .contatore .next {
  cursor: pointer;
}
section.scroll section.description .contatore p {
  padding-bottom: 0;
}
section.scroll section.description .contatore p strong {
  font-weight: normal;
}
section.scroll section.description .descrizione {
  display: none;
}
section.scroll section.description .descrizione.active {
  display: block;
}
section.scroll section.description .descrizione-image {
  float: left;
  margin-right: 15px;
}
section.scroll section.description .descrizione-image img {
  max-width: 200px;
}
section.scroll section.description .descrizione-text {
  font-family: "main-condensed_regular";
  font-size: 18px;
}
section.scroll section.description .descrizione-titolo {
  font-family: "main-condensed_semibold";
  font-size: 28px;
}
section.scroll section.description .descrizione-testo {
  padding: 25px 0 0 0;
}
section.scroll section.description .descrizione-altro-elem {
  font-size: 16px;
}
section.scroll section.description .descrizione .descrizione-altro {
  padding-top: 5px;
}
section.scroll section.evento {
  *zoom: 1;
}
section.scroll section.evento:before,
section.scroll section.evento:after {
  display: table;
  content: "";
  line-height: 0;
}
section.scroll section.evento:after {
  clear: both;
}
@media (min-width: 768px) {
  section.scroll section.evento {
    max-width: 740px;
    margin: 1em auto 4em auto;
  }
  section.scroll section.evento ul {
    width: 420px;
    float: left;
  }
  section.scroll section.evento .desc {
    position: relative;
    float: right;
    width: 100%;
    max-width: 300px;
    background: transparent;
    transform: none;
    box-shadow: none;
    z-index: 0;
    padding: 0;
  }
  section.scroll section.evento .desc:after {
    display: none;
  }
  section.scroll section.evento .desc.inview {
    bottom: auto;
  }
  section.scroll section.evento .desc h2 {
    font-weight: normal;
    font-family: "main-bold", sans-serif;
    padding-left: 0;
  }
  section.scroll section.evento .desc h2 span.data {
    font-family: "main-light", sans-serif;
    display: block;
    font-weight: normal;
  }
  section.scroll section.evento .desc h2 span.titolo_evento {
    margin-top: 1em;
    display: block;
  }
}
span.deceduta,
span.incarica {
  display: none;
}
li {
  list-style: none;
  display: inline;
  position: relative;
}
li i {
  font-style: normal;
  font-family: "omini";
  font-size: 36px;
  display: inline-block;
  width: 36px;
  text-align: center;
  color: #333333;
  z-index: 9;
}
li i:hover {
  color: #191919;
}
li .details {
  display: none;
  font-family: "main-condensed_regular", sans-serif;
  position: absolute;
  max-width: 480px;
  box-shadow: 0 0 5px #333333;
  background: #FFF;
  z-index: 999;
  padding: 0.5em 1em;
  text-align: left;
}
li .details img {
  float: left;
  margin: 0 1em 1em 0;
  width: 5em;
}
li .details strong {
  font-family: "main-condensed_bold";
}
.credit {
  padding-left: 15px;
  padding-right: 15px;
}
.credit p {
  font-size: 1.3em;
}
.credit p strong,
.credit p a {
  color: #333333;
}
.credit p img.unhcr {
  width: 100px;
  padding-top: 10px;
}
#top div.navWrapper img.unhcr-testata {
  display: block;
  height: 70px;
  margin-left: 400px;
  padding-top: 10px;
  position: absolute;
  width: 59px;
}
.share {
  position: relative;
  max-width: 990px;
  margin: 15px auto;
  border-top: 1px dashed rgba(51, 51, 51, 0.5);
  padding: 15px;
  display: block;
  font-size: 18px;
}
.share h2 {
  margin-bottom: 10px;
}
.share .desc {
  font-family: "main-condensed_regular", sans-serif;
  font-size: 18px;
  *zoom: 1;
}
.share .desc:before,
.share .desc:after {
  display: table;
  content: "";
  line-height: 0;
}
.share .desc:after {
  clear: both;
}
.share .desc strong {
  font-family: "main-condensed_bold";
}
.share .desc img {
  float: left;
  margin: 0 1em 1em 0;
  width: 5em;
}
.share .condivisioni {
  font-family: "main-condensed_regular", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
}
.share .condivisioni a {
  display: inline;
  text-decoration: underline;
}
.share .condivisioni a.twitter {
  margin-left: 1em;
}
table.conversion {
  display: none;
}
table.conversion td {
  border: 1px dashed #999;
}
table.conversion td:nth-child(odd) {
  font-family: "omini";
  font-size: 48px;
}
table.conversion.upper {
  text-transform: uppercase;
}
.perMobile {
  display: none;
  text-align: right;
  margin-top: 15px;
}
@media (max-width: 768px) {
  .unhcr-testata {
    display: none!important;
  }
  .perMobile {
    display: block;
  }
  h2.contaMorti #bigtext-id2 {
    margin-top: 0.8em!important;
  }
}
/*Clearfix for clearing floats like a boss*/
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.loader {
  position: fixed;
  background-color: #d84b4d;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5000;
}
.loader img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
@keyframes ondeggiamento {
  0% {
    transform: translateY(0px);
  }
  33% {
    transform: translateY(-2px);
  }
  66% {
    transform: translateY(4px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes ondeggiamento_reverse {
  0% {
    transform: translateY(0px);
  }
  33% {
    transform: translateY(2px);
  }
  66% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes ondeggiamento_small {
  0% {
    transform: translateY(0px);
  }
  33% {
    transform: translateY(-3px);
  }
  66% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(0px);
  }
}

/*# sourceMappingURL=speciale_listjs.css.map */