<section class="copertina">
  <div class="container">
    <div id="bigtext" class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
      <h2 class="small">dal 2012 ad oggi</h2>
      <h1> <span>953</span> donne uccise </h1>
    </div>
  </div>
</section>
