<hr/>
<section class="row textContainer credit text-left" id="crediti">
    <div class="col-md-6 col-md-offset-3">
      <h2>Crediti</h2>
      <p>

          <strong>Testi e ricerche</strong> Laura Zangarini <br/>


          <strong>Sviluppo grafico</strong> Grafici Corriere Online <br/>


      </p>
    </div>

    <!--
    Audio e video in copertina

    <video class="cop" preload loop poster="http://images2.corriereobjects.it/reportages/cronache/2016/migranti-morti-mediterraneo/img/apertura.jpg">
        <source src="http://media2.corriere.it/corriere/content/2016/06/07/Interni/apertura-speciale-low-noAudio.mp4" type="video/mp4" />
    </video>
    <audio loop preload autoplay id="audio">
        <source src="http://media2.corriere.it/corriere/content/2016/06/07/Interni/59277_111920-lq.mp3" type="audio/mpeg" />
    </audio>

    -->
</section>
