
<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <h3>
        Uccise. Da mariti, fidanzati, spasimanti... Ma anche da rapinatori o da uomini semplicemente violenti, o solo per motivi futili. A ciascuna dedichiamo un ricordo che per quanto breve servir&agrave; a non dimenticare i loro volti, le loro storie. In queste schede noi le raccontiamo tutte:
uccise da qualcosa che gli assassini (e troppo spesso anche loro) si ostinano a chiamare amore, e anche le altre, tutte le altre.<br/>Ogni piccolo racconto &egrave; una vita perduta.
    </h3>
    <h3>
        <span class="author">a cura di <em>Laura Zangarini</em></span>
    </h3>
    <h3>
        Le storie di queste donne
    </h3>
    <h3>
        Abbiamo costruito questo Spoon River con un motore di ricerca che ci accompagna a ritrovare gli anni, i luoghi, le storie e ci aiuta a identificare le donne uccise per femminicidio o altro reato. Clicca sulle immagine e conosci le loro storie.
    </h3>

  </div>

</div>
<hr>
