<section class="lista" id="listaDonne">

    <div class="row">
      <div class="col-sx-12 col-md-8 col-md-offset-2 filtro">

     
        <div class="col-md-6 form-group">
            <label for="search" style="display:block">Ricerca libera</label>
            <input class="search form-control" name="search" placeholder="Tutti" />
        </div>

        <div class="col-md-3 form-group">
            <label for="search" style="display:block">Filtra per anno</label>
            <select id="filter_anno" class="search form-control" name="search">
                <option value="all" selected="selected">Tutti</option>
                {{#each menu}}
                    {{#if anni}}
                        <option value="{{anni}}">{{anni}}</option>
                    {{/if}}
                {{/each}}
            </select>
        </div>

        <div class="col-md-3">
          <label for="search" style="display:block">Filtra</label>
          <button id="filter_femminicidio" class="btn btn-default btn-block all" style="width: 35px; display:inline-block; margin-right: 10px;" type="button" data-value="">&nbsp</button>
          <span class="sf">Femminicidi</span>
        </div>         
    </div>
    </div>
    <div class="row">
      <p class="col-sx-12 text-center ricerca-testo">La ricerca ha restituito: <span class="risRicerca"> 0 </span></p>
    </div>
    <hr>
    <div class="row">

      <ul class="list col-md-8 col-md-offset-2">
        {{#each donne}}
            <li class="col-xs-4 col-sm-3 col-md-2 donna donna-{{@index}}" data-id="{{@index}}"
                {{#ifCond femminicidio '==' 1}}
                    data-femminicidio="femminicidio"
                {{/ifCond}}
                {{#if modalita}}
                    data-modalita="{{modalita}}"
                {{/if}}
                {{#if nome}}
                    data-nome="{{nome}}"
                {{/if}}
                {{#if anno}}
                    data-anno="{{anno}}"
                {{/if}}
                {{#if mese}}
                    data-mese="{{mese}}"
                {{/if}}
                {{#if giorno}}
                    data-giorno="{{giorno}}"
                {{/if}}
                {{#if anni}}
                    data-anni="{{anni}}"
                {{/if}}
                {{#if luogo}}
                    data-luogo="{{luogo}}"
                {{/if}}
                {{#if provincia}}
                    data-provincia="{{noSpace provincia}}"
                {{/if}}
                {{#if descrizione}}
                    data-testo="{{nome}} {{descrizione}}"
                {{/if}}
            >
                <div class="donna-image">
                  {{#if fotominiatura}}
                    <img class=" lazy" src="img/donna1.jpg" data-original="{{fotominiatura}}" alt=""/>
                  {{else}}
                    <img class="img-responsive lazy" data-original="img/donna1.jpg" alt="" width="137" height="137"/>
                  {{/if}}
                </div>
                <div class="donna-text">
                    {{#if nome}}
                        <h2 class="donna-titolo">{{{normalizzami nome}}}</h2>
                    {{/if}}
                     {{!-- <p class="donna-link">Scopri di pi&ugrave;</p> --}} 
                </div>
            </li>
        {{/each}}
    </ul>

    </div>
</section>


<section class="description" id="long_desc">

    <ul class="donneList row">
        {{#each donne}}
            <li class="descrizione well well-lg col-md-8 col-md-offset-2" data-id="{{@index}}">
                 {{#if data}}
                    <span class="deceduta">deceduta</span>
                {{/if}}
                <div class="descrizione-image">
                    {{#if foto}}
                        <img class="lazy" data-original="{{foto}}" alt="">
                    {{else}}
                        <img class="lazy" data-original="img/donna1.jpg" alt="">
                    {{/if}}
                </div>
                <div class="descrizione-text">
                    {{#if nome}}
                        <h2 class="donna-titolo"></h2>
                        <h2 class="descrizione-titolo">{{{normalizzami nome}}}</h2>
                    {{/if}}

                    <ul class="descrizione-altro">

                        {{#ifCond femminicidio '==' 1}}
                            <li class="descrizione-altro-elem femminicidio">
                            <span class="label label-primary">femminicidio</span>
                            </li>
                        {{/ifCond}}

                        {{#if modalita}}
                            <li class="descrizione-altro-elem modalita">{{modalita}}</li>
                        {{/if}}

                        {{#if luogo}}
                            <li class="descrizione-altro-elem luogo">- {{luogo}}</li>
                        {{/if}}

                        {{#if provincia}}
                            <li class="descrizione-altro-elem provincia">- {{provincia}}</li>
                        {{/if}}

                        {{#if anni}}
                            <li class="descrizione-altro-elem anni">- <strong>Età:</strong> {{anni}}</li>
                        {{/if}}

                        {{#if data}}
                            <li class="descrizione-altro-elem data-morte">- <strong>Morta:</strong> {{giorno}}/{{mese}}/{{anno}}</li>
                        {{/if}}

                    </ul>

                    {{#if descrizione}}
                        <p class="descrizione-testo">{{descrizione}}</p>
                    {{/if}}

                </div>
            </li>
        {{/each}}
    </ul>

    <div class="contatore row text-center">
      <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default prev"><</button>
        <button type="button" class="btn btn-default"><strong> 1 di 60 </strong></button>
        <button type="button" class="btn btn-default next">></button>
      </div>
    </div>

    <div class="messages"></div>
</section>
