
<div class="row">
  <div class="col-md-8 col-md-offset-2">

    {{#each sommario}}
    <h3>
        {{{normalizzami this}}}
    </h3>
    {{/each}}

  </div>

</div>
{{!--     <h3 class="tit">Le storie di queste donne</h3>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
	<h3>Abbiamo costruito questo Spoon River con un motore di ricerca che ci accompagna a ritrovare gli anni, i luoghi e identifica le donne uccise per femminicidio o altro reato. Clicca sulle immagine e conosci le loro storie.</h3>
	</div>

</div>   --}}  
<hr>
